body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketchpad {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.gridBoxes {
  background-color: white;
  border: solid black 1px;
  box-sizing: border-box;
}